@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
body{
	line-height: 1.5;
	font-family: 'Aldrich', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 65px 0;
}
.footer-col{
   width: 28%;
   padding: 0 15px;
   
}
.footer-col:nth-child(1){
	flex-grow: 0.25;
}
.footer-col:nth-child(2){
	padding: 0 25px;
}
.footer-col:nth-child(3){
	padding: 0 25px;
}
span{
	font-size: 18px;
	color: #ffffff;
}
.mail{
	font-size: 18px;
	color: #ffffff;
}
.footercompanyname{
	color: #bbbbbb;
	font-size: small;
}
.footer-col h4{
	font-size: 24px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #D22B2B;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
#iconscenter{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
#iconscenter:hover{
	color: #D22B2B;
	background-color: #ffffff;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

#facebook:hover{
	color: #4267B2;
	background-color: #ffffff;
}
#instagram:hover{
	color: #C13584;
	background-color: #ffffff;
}
#linkedin:hover{
	color: #0077b5;
	background-color: #ffffff;
}
#youtube:hover{
	color: #FF0000;
	background-color: #ffffff;
}

img{
	width: 300px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

