@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

.home-container {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: calc(100vh - 84px);
}

.section-top {
  position: relative;
  width: 100%;
  height: calc(100vh - 84px);
  overflow: hidden;
  background-image: url("../images/home1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: slide 10s infinite;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
}

@keyframes slide {
  0% {
    background-image: url("../images/home1.jpg");
  }
  33% {
    background-image: url("../images/home2.jpg");
  }
  67% {
    background-image: url("../images/home3.jpg");
  }
}

img {
  width: "961";
  height: "2048";
}

.content h1 {
  color: white;
  font-size: 60px;
  letter-spacing: 16px;
  font-family: "Aldrich", sans-serif;
}

.content h2 {
  color: white;
  font-size: 15px;
  letter-spacing: 10px;
  font-family: "Aldrich", sans-serif;
  font-weight: 600;
}
