@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

:root {
  --navbar-color: #24262b;
  --hover-font-color: white;
  --sec-font-color: rgb(231, 231, 231);
}

.header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  padding: 0px 5%;
  background-color: var(--navbar-color);
  height: 80px;
  border-bottom: 1px solid white;
}

.logo {
  padding: 5px;
  margin-left: 3%;
}

.logo-img {
  width: 130px;
}

.menu {
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

#menu {
  margin: 0;
}

#collapse {
  position: relative;
  background-color: var(--navbar-color);
}

.nav-links {
  display: flex;
  list-style: none;
  margin: auto;
}

.nav-item {
  padding: 0px 5px;
}

.nav-link {
  position: relative;
  font-size: 1.2rem;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "FerroRosso"; */
  font-family: 'Gugi', cursive;
	/* font-family: 'Aldrich', sans-serif; */
  text-decoration: none;
  color: var(--sec-font-color);
  padding: 10px;
  border-radius: 15px;
}

.nav-link:hover {
  color: var(--hover-font-color);
  background-color: #343741;
}

@media screen and (max-width: 990px) {
  .header {
    padding: 0 0 0 2%;
  }
  
  .logo {
    margin-left: 0%;
  }

  .logo-img {
    width: 100px;
  }

  .nav-item {
    padding: 0px 2px;
  }

  .nav-link {
    font-size: 1.1rem;
  }
}


/* Tablets and iPads */
@media screen and (max-width: 768px) {
  .header {
    padding: 0px 10%;
    justify-content: space-between;
  }

  .logo {
    padding: 5px;
  }

  .menu {
    display: inline-block;
  }

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    cursor: pointer;
  }

  .collapse-navbar {
    display: none;
  }

  #collapse {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 340px;
    padding-top: 10px;
    /* border-top: 1px solid var(--special-font-color); */
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .nav-item {
    line-height: 3.2rem;
    padding: 0px;
  }

  .nav-link {
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0px;
  }

  .nav-link:after {
    bottom: 5px;
    transform: translateY(-10px);
  }
}

/* Phones */
@media screen and (max-width: 480px) {
  .header {
    height: 70px;
  }

  #overlay {
    top: 70px;
  }

  .nav-link {
    font-size: 1rem;
  }
  
}

@media screen and (min-width: 1700px){
  .header {
    justify-content: center;
  }
}